<%- include('navbar_login'); -%>
<%- include('headers'); -%>
<%- include('container'); -%>
<div class="page-header">
    <h1>Explore<br><br></b><small>Your Potential Matches</small></h1>
</div>

<% for(var i=0; i<data.length; i++) {%>
<ul class="list-group">
    <li class="list-group-item">
         Owner Name: <%= data[i].potential_match_first_name %>, <%= data[i].potential_match_last_name%> 
            <div class="col text-right">
              <form id="button_accept" action="/explore_matches" method="post">
                <input type="hidden" name="firstName" value=<%= data[i].potential_match_first_name%>>
                <input type="hidden" name="lastName" value=<%= data[i].potential_match_last_name%>>
                <button class= "btn btn-success" name="Accept_button" form="button_accept" type="submit">Accept</button>
              </form>

              <form id="view_profile_button" action="/profile" method="post">
                <input type="hidden" name="profileFirstName" value=<%= data[i].potential_match_first_name%>>
                <input type="hidden" name="profileLastName" value=<%= data[i].potential_match_last_name%>>
                <button class="btn btn-success text-right" name="profile_button" form="view_profile_button" type="submit">View Profile</button>
              </form>
              
            </div> 
        <br/>
    </li>
</ul>
<% } %>

<%- include('endcontainer'); -%>
<%- include('footers'); -%>
