<%- include('navbar_login'); -%>
<%- include('headers'); -%>
<%- include('container'); -%>
<div class="page-header">
    <h1>Explore<br><br></b><small>Your Potential Matches</small></h1>
  </div>
  <% for(var i=0; i<data.length; i++) {%>
<ul class="list-group">
    <li class="list-group-item">
         Name: <%= data[i].first_name %>, <%= data[i].last_name%> 
            <div class="col text-right">
              <a href="/" class="btn btn-success text-right" role="button">View Profile</a>
        </div> 
        <br/>
    </li>

</ul>
<% } %>
<%- include('endcontainer'); -%>
<%- include('footers'); -%>
